@import "../../colors.scss";

.listItem {
  &[isnarrator="true"] {
    &::before {
      color: $primary;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "•";
      margin-left: -12px;
      margin-right: 4px;
    }
  }

  &[isyou="true"] {
    color: $primary;
  }
}
