.container {
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  z-index: 1000;

  & article {
    max-width: 400px;
    margin: auto;
    animation: showError 0.2s ease-in forwards;
  }
}

@keyframes showError {
  0% {
    margin-top: -100px;
    opacity: 0;
  }

  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
