@import "../colors.scss";

.isyou {
  background-color: rgba(0, 0, 0, 0.1);
  & p {
    color: $primary;
  }
}

.cardContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  & p {
    padding-top: 20px;
  }
}
