$animation-speed: 0.2s;
$card-height: 360px;
$card-width: 240px;

.card {
  display: flex;
  height: 360px;
  width: 240px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: $animation-speed ease-out;
  position: relative;
  left: 0px;

  &[isplayed="true"] {
    animation: play-card 0.4s ease-in forwards;
  }
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-200px) translateX(-50px) scale(2);
  transition: $animation-speed ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 130px;
  transition: $animation-speed ease-out;
}

@keyframes play-card {
  0% {
    opacity: 1;
    top: 0px;
  }
  100% {
    opacity: 0;
    top: -500px;
  }
}
