@import "../../colors.scss";

$card_height: 300;
$card_width: $card_height / 1.5;

.cardWrapper {
  margin-left: 30px;
  width: #{$card_width}px;
  height: #{$card_height}px;
  position: relative;
  margin-bottom: 30px;

  &:hover {
    z-index: 2;
  }

  &:first-child {
    margin-left: 0px;
  }
}

.card {
  position: absolute;
  top: 0px;
  height: #{$card_height}px;
  width: #{$card_width}px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  animation: fadein 0.5s linear;
  transition: 0.1s linear;

  &[isvisible="true"] {
    animation: flipout 0.5s linear;

    &:hover {
      cursor: pointer;
      transform: translate(#{$card_width / 2}px, #{$card_height / 2}px) scale(2);
      box-shadow: 2rem 2rem 2rem #000;

      & p:last-child {
        visibility: hidden;
      }
    }
  }

  &[ischoosen="true"] {
    animation: glow 0.5s linear infinite alternate;
  }
}

.counterIcon {
  position: relative;
  top: -#{$card_height / 2}px;
  margin: auto;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

.img {
  height: #{$card_height}px;
}

.isMissing {
  border: 2px dashed black;
  height: #{$card_height - 8}px;
  margin: 8px;
}

.infoCard {
  top: 60px;
  z-index: 1;
  position: relative;
  color: white;
  width: #{$card_width}px;
  border-radius: 10px;
  padding: 10px;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 10px 3px $primary;
  }
  to {
    box-shadow: 0px 0px 20px 5px $primary;
  }
}

@keyframes flipout {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
